body{
  background-color:#e1f8fd4c;
}

.offset{
  margin: 5rem 0 3rem 0;
  padding: 10px;
}

.card{
  border-radius:20px;
  box-shadow:0 2px 5px rgba(0, 0,0,0.1);
  border:2.5px solid #6500d8;
}
.card .card-body {
  margin:10px;
  padding:10px;
}
.avatar.avatar-50 {
  line-height: 30px;
 
}
a,
.text-theme-color{
  color: #6500d8;
}

.text-center{
    text-decoration: none;
    color: #000000;
    text-transform:uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.menu-icon .icon{
  width: 50px;
}
.container-fluid{
  width: 100%;
  overflow: hidden;
  border: 3px solid #6500d8;
  border-radius: 15px;
  margin-bottom: 15px;
}
.marquee{
  animation: marquee 10s linear infinite;
  padding: 10px;
  font-weight: 700;
}
@keyframes marquee{
  from{
    transform: translateX(50%);
  }
  to{
    transform: translateX(-50%);
  }
}
/*Footer*/
.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.75rem;
    padding-left: 0.75rem;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style:none;
}
.nav-pills .nav-link{
    background:none;
    border:0;
    border-radius:0.5rem;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  border-radius:20px 20px 0 0;
  background-color:#ffffff;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.07);
  -webkt-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.07);
}
.footer .nav {
  align-items: center;
  max-width: 480px;
  margin: 0 auto;
}


.footer .nav .nav-item {
  height: 60px;
}

.footer .nav .nav-item .nav-link {
  text-align: center;
  background: transparent;
  align-self: center;
  -webkit-align-self: center;
  -moz-align-self: center;
  height: 100%;
  line-height: 44px;
  color:#999999;
  padding:10px 5px;
}

.footer .nav .nav-item .nav-link span {
  line-height: 2px;
  display: inline-block;
  vertical-align: middle;
}

.footer .nav .nav-item .nav-link span .nav-icon {
  font-size: 25px;
  height: 20px;
  line-height: 5px;
  width: 30px;
  display: inline-block;
  margin: 0 auto;
}

.footer .nav .nav-item .nav-link span .nav-text {
  font-size: 18px;
  line-height: 30px;
  display:block;
}

.footer .nav .nav-item .nav-link.active {
  color: #6500d8;
}
/*header*/
.header {
  padding:8px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 8;
  position:relative;
}
.header > * {
  z-index: 1;
  position: relative;
}

.header:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 0 0 20px 20px;
  background-color: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  -webkt-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  z-index: 0;
  opacity: 0;
}

.header.active:after {
  opacity: 0.95;
}
.btn {
  font-size: 20px;
  text-transform: uppercase;
  border-radius:10px;
  position: relative;
}
.btn-44 {
  font-size: 25px;
  height: 44px;
  line-height: 42px;
  width: 44px;
  padding: 0 !important;
}
.btn-light {
  background-color:#ffffff;
  color: #999999;
}

.logo-small {
  display: inline-block;
  vertical-align: middle;
}
.logo-small img {
  height:60px;
}
.menu-icon p
{
font-size:14px;
font-weight:800;
}

.text-center {
  text-align: center !important;
}
