.card{
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #6500d8;
}

p{
    color: #999999;
}

.contact-icon{
    color: #6500d8;
    font-size: 25px;
}

.cont{
    display: flex;
    align-items: center;
}
.cont .contact-mail{
    margin:0 0 0 10px;
}