@media (max-width: 768px) {
   table, th, td {
        font-size: 5px;
      white-space: nowrap;
      overflow: hidden;
    }

}

table{  
    border: 3px solid;
    border-radius: 20px;
    margin-bottom: 0 !important;
}

th,td{
    border:2px solid #f5f5f5 !important ;
}

th{
    background-color: #6500d8 !important;
}

h2{
    font-size: 15px;
}
.card{
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #6500d8;
}



    